<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--创建数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_day02"></property>
        <property name="user" value="root"></property>
        <property name="password" value="5774857"></property>
    </bean>


<!--配置dao
        dao 继承了JdbcDaoSupport，之后只需要注入数据源，底层将自动创建JdbcTemplate-->
    <bean id="userDao" class="c_c3p0.UserDao">
<!--        可以直接注入dataSource说明JdbcDaoSupport中有对应的set方法，因为我们自己的dao类中没有set数据源的方法-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>